@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.section-title h1 {
    display: inline-block;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
    margin: 0 0 10px;
    position: relative;
}

.section-title h1:before {
    content: '';
    left: 0;
    position: absolute;
    height: 2px;
    right: 30px;
    background-color: #febd01;
    bottom: 0px;
}

.text-center {
    text-align: center!important;
}

.text-left {
    text-align: left!important;
}

.text-right {
    text-align: right!important;
}


/*Header Section*/

header {
    position: absolute;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #423940;
    padding: 0px 15px;
    z-index: 10;
}

header.fixed {
    background-color: #ffffff;
    position: fixed;
    border-color: #eeeeee;
    animation: fixHeader 5s ease;
}

@keyframes fixHeader {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-%);
    }
}

header .row {
    justify-content: space-between;
    align-items: center;
}

header .brand-name a {
    text-decoration: none;
    font-size: 22px;
    font-weigth: 700;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
}

header.fixed .brand-name a {
    color: black;
}

header .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navbar ul li {
    display: inline-block;
    margin: 35px;
}

header .navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 72px;
    color: #ffffff;
    display: block;
    font-weight: 600;
    position: relative;
}

header.fixed .navbar ul li a {
    color: black;
}

header .navbar ul li a::before {
    content: '';
    height: 3px;
    background-color: #ffffff;
    width: 0%;
    position: absolute;
    right: 0px;
    bottom: -1px;
    transition: all .3s ease;
}

header.fixed .navbar ul li a::before {
    background-color: #febd01;
}

header .navbar ul li a:hover::before {
    width: 100%;
    left: 0;
}

header .navbar ul li a.active::before {
    width: 100%;
    left: 0;
}


/*Home Section*/

.home {
    min-height: 100vh;
    background-image: url('desktop.jpg');
    background-size: cover;
    background-position: center;
    background-size: 75% 75%;
    padding: 15px;
}

.home .full-screen {
    min-height: 100vh;
}

.home .home-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.home .home-content .block {
    flex: 0 0 75%;
    max-width: 75%;
    padding-left: 35px;
    border-left: 5px solid #ffffff;
    margin-top: 50px;
}

.home .home-content .block h6 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.home .home-content .block h1 {
    color: #ffffff;
    font-size: 70px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.home .home-content .block h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.home .home-content .block .cv-btn {
    padding-top: 20px;
}

.home .home-content .block .cv-btn a {
    border-radius: 4px;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: transparent;
}

.home .home-content .block .cv-btn a:hover {
    background-color: #ffffff;
    color: #000000;
}


/*About Me*/

.about-me {
    padding: 100px 15px;
    background-color: #ffffff;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.about-me .section-title p.small {
    display: block;
    font-size: 14px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 2px;
}

.about-me .about-content .img {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.about-me .about-content .img img {
    width: 100%;
    display: block;
}

.about-me .about-content .text {
    flex: 0 0 66.66%;
    max-width: 66.66%;
    padding-left: 30px;
}

.about-me .about-content .text h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #000000
}

.about-me .about-content .text h6 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #000000
}

.about-me .about-content .text h6 span {
    color: #febd01;
}

.about-me .about-content .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0 0 20px
}

.about-me .about-content .text .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-me .about-content .text .info .list {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(5-% - 15px);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px
}

.about-me .about-content .text .info .list label {
    padding-right: 10px;
    color: #000000;
    font-weight: 600;
    font-size: 15px;
}

.about-me .about-content .text .info .list p {
    margin: 0;
}

.about-me .about-content .text .social-links {
    padding-top: 30px;
}

.about-me .about-content .text .social-links a {
    height: 30px;
    width: 30px;
    background-color: #000000;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #000000;
    line-height: 28px;
    text-align: center;
    margin: 0 1px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover {
    background-color: transparent;
}

.about-me .about-content .text .social-links a .fa {
    color: #ffffff;
    font-size: 12px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.about-me .about-content .text .social-links a:hover .fa {
    color: #000000;
}


/*Qualification and skills*/

.qualification {
    background-color: #f5f5f5;
    padding: 100px 0px 70px;
}

.qualification .section-title h1:before {
    left: 8%;
}

.qualification .qualification-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.qualification .qualification-content .box {
    background-color: #ffffff;
    padding: 30px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

.qualification .qualification-content .box::before {
    content: '';
    height: 2px;
    background-color: #febd01;
    position: absolute;
    bottom: 0px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .5s ease;
}

.qualification .qualification-content .box:hover::before {
    width: 100%;
}

.qualification .qualification-content .box .icon {
    height: 60px;
    width: 60px;
    background-color: #febd01;
    margin: 15px auto 20px;
    border-radius: 50%;
    text-align: center;
}

.qualification .qualification-content .box .icon .fa {
    font-size: 25px;
    color: #ffffff;
    line-height: 60px;
}

.qualification .qualification-content .box h5 {
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    margin: 0;
}

.qualification .qualification-content .box p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 10px 0 0;
}


/*Contact Us*/

.contact-us {
    padding: 100px 15px;
    background-color: #f5f8fd;
}

.contact-us .section-title h1::before {
    left: 10%;
}

.contact-us .contact-form {
    background-color: #ffffff;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 40px;
    border: 1px solid #eeeeee
}

.contact-us .contact-form .text {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 20px;
}

.contact-us .contact-form .text h2 {
    font-size: 25px;
    font-weight: 600;
    color: #000000;
    margin: 0;
    padding: 0;
}

.contact-us .contact-form .text p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #838383;
    margin: 0px;
}

.contact-us .contact-form .space-between {
    justify-content: space-between;
}

.contact-us .contact-form .col-6 {
    flex: 0 0 calc(50% - 15px);
    max-width: calc(50% - 15px);
}

.contact-us .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%
}

.contact-us .contact-form .form-control {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 1px solid #ced4ce;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.contact-us .contact-form textarea.form-control {
    height: 140px;
}

.contact-us .contact-form .form-control::placeholder {
    color: #838383;
}

.contact-us.contact-form .button {
    flex: 0 0 100%;
    max-width: 100%;
}

.contact-us .contact-form .button a {
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease;
    background-color: #febd01;
    box-shadow: 0px 10px 15px #e8e8e8;
}

.contact-us .contact-form .button a:hover {
    background-color: #000000;
    color: #ffffff;
}


/*Footer*/

footer {
    padding: 70px 15px;
    background-color: #0c0c17;
}

footer .logo {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 45px;
    color: #ffffff;
    font-weight: 700;
}

footer .social {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-top: 15px;
}

footer .social a {
    color: #999999;
    text-decoration: none;
    display: inline-block;
    margin: 0px 12px;
    transition: all .5s ease;
    text-decoration: none;
}

footer .social a:hover {
    color: #ffffff;
}


/*copyright*/

.copyright {
    background-color: #0c0c17;
    border-top: 1px solid #1d1d27;
    padding: 15px;
}

.copyright p {
    color: #838383;
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}
